h2{
    background:none;
    color:#d27300;
}

ol.breadcrumb li.breadcrumb-item a{
    color: #d27300;
}

a:link, .link-muted{
    color: #d27300;
}

a:link:hover, .link-muted:hover{
    color: #ffa333
}

.ci_text_principal .ci_btn_seccion {
    color: white !important;
}
.departamento_seccion article{
    padding: 25px;
    box-sizing: border-box;
    text-align: center;
}

.container .carousel{
    margin-bottom: 0;
}
.container .carousel-item{
    height:auto;
}

main.departamento_seccion > a {
    display: flex;
}


main.departamento_seccion > a > article > .datos-productos >.precio {
    margin-top: 20px;
    color: #d27300;
    font-weight: 500;
    font-size:x-large
}

.boton-comprar{
    background-color: #d27300;
    color: white !important;
}

.boton-comprar:hover{
    background-color: #d27300;
    color:white !important;
    box-shadow: 0px 0px 5px #444;

}

.boton-cantidadmas{
    background-color: #d27300;
    color:white !important;
}
.boton-cantidadmas:hover{
    box-shadow: 0px 0px 10px #444;
}

.h5{
    color: #d27300;
    font-size:xx-large;
}

main.departamento_seccion > a > article > .datos-productos >.modelo {
    font-size:x-large;
    font-weight: 500;
}
