h2{
    background:none;
    color:#d27300;
}
ol.breadcrumb li.breadcrumb-item a{
    color: #d27300;
}

.departamento_seccion article{
    padding: 25px;
    box-sizing: border-box;
    text-align: center;
}

.container .carousel{
    margin-bottom: 0;
}
.container .carousel-item{
    height:auto;
}